@import '../sharedStyles/sharedStyles.scss';
.calc-wrapper {
  padding: 0 2rem;
  margin: 0 auto;
}
.calc-body {
  display: flex;
  justify-content: center;
  max-width: 80rem;
  background-color: $white;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 1rem;
  gap: 2rem;
}
.calc-element {
  width: 100%;
}
.calc-form {
  min-width: 100%;
}
.calc-result {
  min-width: 100%;
  min-height: 100%;
}

@media only screen and (max-width: 600px) {
  .calc-body {
    flex-direction: column;
  }
}
