$primary: hsl(172, 67%, 45%);

$dark: hsl(183, 100%, 15%);
$darkGrey: hsl(186, 14%, 43%);
$darkGreyIsh: hsl(184, 14%, 56%);
$LightCyan: hsl(185, 41%, 84%);
$veryLight: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

$accentLight: #c5e4e7;
$accent: #26c2ad;
$logo: #45686b;

.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
